table {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left:20px;
  margin-bottom : 6%;
  margin-left : 5%;
  font-family:Arial;
  font-size: 11pt;
  margin-right: 45px;

  
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  padding:10px;
  margin: 0 auto;
  

}

th {
  border: 1px solid black;
  border-collapse: collapse;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  padding:30px;
  font-size:15pt;
  background-color: lightgrey;
  
}

h4.container6 {
 
  align-items: center;
  margin-left: 5%;
  
   }
h4.container6 p {
  margin: 0 }
  
.text{
  text-align: center;
  font-size:24px;
}

.value{
  text-align: justify;
  text-align-last: inherit;
  font-size:23px;

}
